body{
    background: url(/resources/img/login/back.png);
    background-color: #444;
    background: url(/resources/img/login/pinlayer2.png),url(/resources/img/login/pinlayer1.png),url(/resources/img/login/back.png);
}

.vertical-offset-100{
    padding-top:100px;
}