span.error {
    color: red;
}

div.error {
    background-color: #ffcccc;
    border: 2px solid red;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

body {
    background-color: #eee;
    font-family: helvetica;
}

#container {
    width: 500px;
    background-color: #fff;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
}

.green {
    font-weight: bold;
    color: green;
}

.message {
    margin-bottom: 10px;
}

label {
    width: 70px;
    display: inline-block;
}

input {
    display: inline-block;
    margin-right: 10px;
}

form {
    line-height: 160%;
}